In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from decouple import config
import time
import pandas as pd 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options



# Inicializar el driver de Selenium con las opciones definidas
driver = webdriver.Chrome()

# Ir a la página de inicio de LinkedIn
driver.get("https://www.linkedin.com/uas/login/")


user =config("USER_LKN")
clave =config("PASS_LKN")

# Encontrar el campo de inicio de sesión y enviar credenciales
username = driver.find_element(By.ID,"username")
username.send_keys(user)
password = driver.find_element(By.ID,"password")
password.send_keys(clave)

time.sleep(3)

# Hacer clic en el botón de inicio de sesión
boton=driver.find_element(By.CLASS_NAME,"btn__primary--large.from__button--floating")
boton.click()

time.sleep(10)

# Inicializar la lista de datos
datas = []

for i in range(0, 2):

    # Construir la URL
    if i == 0:
        url = 'https://www.linkedin.com/jobs/search/?currentJobId=3701323291&keywords=data&origin=JOBS_HOME_SEARCH_BUTTON&refresh=true'
    else:
        url = f'https://www.linkedin.com/jobs/search/?currentJobId=3696076717&keywords=data&origin=JOBS_HOME_SEARCH_BUTTON&refresh=true&start={25*i}'
    
    # Navegar a la URL
    driver.get(url)
    time.sleep(5)

    # Encontrar la tabla en la página

    table = WebDriverWait(driver, 100).until(EC.presence_of_element_located((By.CLASS_NAME, 'scaffold-layout__list-container')))
    desplaza = driver.find_elements(By.CLASS_NAME, 'scaffold-layout__list ') 

    driver.execute_script('arguments[0].scrollTop = arguments[0].scrollTop - 200;', desplaza)



    table_rows = table.find_elements(By.TAG_NAME, 'li') 
    print(f"Found {len(table_rows)} rows on the table from page {i}")

    tablex = []



    # Iterar a través de las filas de la tabla
    for row in table_rows:
        # Usar los selectores CSS correctos para su sitio web
        title_elements = row.find_elements(By.CLASS_NAME,"job-card-container__link") 
        company_elements = row.find_elements(By.CLASS_NAME,"job-card-container__primary-description ")
        location_elements = row.find_elements(By.CLASS_NAME,'job-card-container__metadata-item')
        link_elements = row.find_elements(By.CLASS_NAME, 'disabled.ember-view.job-card-container__link.job-card-list__title')

        title = title_elements[0].text if title_elements else None
        company = company_elements[0].text if company_elements else None
        location = location_elements[0].text if location_elements else None


        # Extraer el texto de los elementos encontrados
        title = title_elements[0].text if title_elements else None
        link = link_elements[0].get_attribute('href') if link_elements else None
        # Imprimir los detalles de cada fila
        print(f'Title: {title}, company: {company}, location: {location},Link: {link}')

        # Agregar los datos a la lista
        tablex.append({"title": title, "company": company, "location": location, "Link": link})

    # Convertir la lista en un DataFrame de pandas y agregarlo a la lista de datas
    df = pd.DataFrame(tablex)
    datas.append(df)

# Cerrar el driver de Selenium
#driver.quit()

Found 77 rows on the table from page 0
Title: Data Engineer, company: Indra, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3718921191/?eBP=JOB_SEARCH_ORGANIC&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=DfotRz5QWxm7t9yPUuB6yQ%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Analyst / Engineer, company: WTW, location: Lima, Lima, Perú,Link: https://www.linkedin.com/jobs/view/3641511657/?eBP=JOB_SEARCH_ORGANIC&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=O%2BKhAvL4o8zLsQF0T0TCbQ%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer (Lima), company: Qualifacts, location: Lima, Lima, Perú (Presencial),Link: https://www.linkedin.com/jobs/view/3715380996/?eBP=CwEAAAGKpoe6Zrlx0uRG11nhr3B5C9ZQQovTncWldaMZyUF7EGdNyH7eVzceGwNcmJEA2lqqTrMz7pZWdDeYM1Zej4mQLGXUWCuhnfKWktbz2w83uwpK4Bz5q6l35GtVBU59Q721yFTorEHWwMhOEoehIooK2VGRc8cf5ehKSN7Kj9uveJpGuRsjJJQFMg8Cmmnd4iNDQRiGFOR9aAcOibNuvAi2O08YgZ313PeseXiF4Rs4JLV1t1O460bc7H_wxMsrg0QIB1ZUgqpirRta3QznXtAzUi7eE1XiDqL5NtnaQSpsk2O5on4-RCMBep8wDJ_aOt8yfhzlLRs1JGSRePjPCAvxtSilGJbCLr-F2N69oXgvOwNjOWNZzMKmZDW-7-_TSIg-ft_JSg&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=PQi%2B93%2Fowi4NpZjRwzPMJw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer (QlickView o QlickSense), company: NG Restaurants S.A., location: Miraflores, Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3718526539/?eBP=CwEAAAGKpoe6ZuYJK3pAqKzwYcGeYEy_COrIrAyhgv4CTdjOOx1NB5Y07r8MoHVKZEDu-i16pa-Bi1BON5dxFBONmh8zpYEw7X1CJ5V3CGHsPEnfomEb3t_-QO-16NYSMv1BL-X2xz1l874MKhG_GWsUMATGc9M2AuGqyGxi68i3-9diKeIn8XlMCFcanmTsZpf5PGtvw5ta0Ct-rnYFNF_xjfbMH65dLPUvuQD7eIta1RqEkxijbkjcSMkAbVJKwo78Osh6LmZmomRtnpNBRSy-wG3-GKqKxsj_CWvmLCOk-hP5NBRDHkKqx-Bp4BbdXCOtw6pelcnE1UjJ-nc9jzx2R-UoDSarjAwC_onOGHco30hz1W5jgG9thbXQjj9Jbzkok9ICetCIyQ&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=NCanCE9GMCgHZJso9WqfRA%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer (Python-Pyspark), company: Applaudo, location: Lima, Perú (En remoto),Link: https://www.linkedin.com/jobs/view/3722062135/?eBP=CwEAAAGKpoe6ZtajKrl7OBWQwWCGaCllh3GJ93q4wEp1r92JBWfGSCJ0vSMCzlAB13x0qG9pivTkvjfkeuKiRmn7ZoS8YfbLS1Kyrd8XE9sPUB9Pqo73rQ-_Vjx800NtYRuyz1W7eZ9VcStRR4JzNdRPGfORQxSzmY6T6kWIm3UkbbchnOtZK9n_JP3FPq0AyzSjmZfEagGs4_OrIuDNdgilIKSKP58fOj-wCY-qYBpCC5f--a8L2Cbmu4j9oIDVxjKDuP_9xhDjmONRrGYXu6KZdUrh6dmupAiNtP6sLy0xuHsjV6WK7FdV9XohYmy-lIAWs7IqnW7-jO6zl6lPUb_h7eCyd9kZxFYkp0lnyNXl2w2vtUN_m4HR0M9olfFl-bBazheUn71wjQ&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=YUgTFGv%2FiXuyH0jxRFMZkA%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer Azure, company: NTT DATA, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3696912557/?eBP=CwEAAAGKpoe6ZiDIl-S0XWDeY9cftn3qWzcXjTbjUhOfD2Mx0SRDbYF81B4jbk_A5KBBKgP0T_oVlU-HEqGt8KlNKlGj6b89cMIYrDAO_NUx-BxuyyRYMPJjHKDdLnCJBvUDyBXLJ6iiQXkXB3cuxQCp77TBCJepCTrdVIU3wMU4m3j7fEYolAPyTcxPm3g-tOr05vqGZY_L6WrwHJHQThUjulhJ_YIug_aRlQ5bY0OPg0DFVkyMYbWuFJ1qwtp7XAEtkUVONtVwA4es2v-r8kiJ-wVwH_1hFm1Ud7Y4ogiaik1zMgaKHvLc7HgVNbScyHZIrchI39bkH3j_-wMNG18LxJ-qUD2emqxOeY-QCZ9OHVwjfJ9EaW5QUDNW0S3w7oafcIhnNml0Ng&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=Xfvyo0VDlyZga3FxNonLUw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer, company: Tata Consultancy Services, location: Perú (En remoto),Link: https://www.linkedin.com/jobs/view/3721889029/?eBP=CwEAAAGKpoe6ZnsX3jx-9Com27uizwBzSMtX4f_wYYxbA5WuE3sH15jLZIAYfRlqL-tbemQhgcKOKSkZq7lKEr4smZAQ7BZii3P9yPUROxSabRd-DSyRu-SdqwP82Bjl-Iqf3foSF04irAOv2IzfmS0cqOKVVlgZv1tMTtGFHqK9UdqsNknhag_RQ8qmNlnMOcszdZ7evuTobcvGWEDKoYOZazBU2ey1A3i1oEPhS4BAFNpuacu-bgL7OYEBQr-F0E3ifBYeSEhtwRSqtZ9McvELg0zJolKqU62u3KDjKghMxnjrJtbL23zJngqV6H8Tuwcn2JpP_EbC-fz5nCq4p3ApEJrf5qs9WM1Zc06UcU_3XjU12brTpIuH01FV7Vp9OBOvzRq855Ldkg&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=BbZRA23hcw8Ws0IaAo4Rig%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Eater Growth Analyst, company: DiDi, location: Lima, Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3716018872/?eBP=JOB_SEARCH_ORGANIC&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=e94fsuvbhEzgzUo%2BS9ywcw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Analytics Engineer, company: Yape, location: La Molina, Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3710342482/?eBP=CwEAAAGKpoe6ZoB7Lszve_ZldjPMPrU95vppZCIqG7MqJ5NL_C4nIAW1m8gtXh1T4JdzdJHpY-eLKOzoEghc-UXylJlh00ZsCO6LLj1OUevz6Geekir9tr-vL_qB-2JlkI1CC-bbR0krUcOcL4VNE6AtMTFYzo5lraE7m9nN5zX5Rnd97E9UwwmuN462YGXZctMaf2fPPwWZh2G-kB-qTJY4hSggxPzwTrn66Dh_3-jwqmptq29OKNETYrRND6AFX7x3RSV4Gk9P42-D1jdpyWjOEEYYFMHStw8kvpibaEP3VRpgl7Dh-ermdaNmJD6penwuJV9kvwtrztJBE2s7dEfSakwPj207nyqAMqonUOPZmBAG0v0fSKk9QnnoPykjeE7IvXFpNovbRJpP&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=ToDHao360wriyotwWNZiQw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data engineer, company: Launchpad Technologies Inc., location: Perú (En remoto),Link: https://www.linkedin.com/jobs/view/3696076717/?eBP=CwEAAAGKpoe6ZmRoJM-iDK-xtOdkdOh9DUand4-K4EvIDmQN5tqej6OGFxZHdb5nLExPZnIf7LsfNqLd0y4v8HR1_wIKJQ094OHXYfRL_AvSMnOZndeRtbbC2tw3mvy8yPPKVfzfvG86Dofh6RafwB3TvEboBYjbBg6-vruGA6a8s0lNd8_wONI4uUMKE_LxF_XldVC7oLJfqrmVUEjwXtbSGweOf8wRkIhflouNzlnUSuIEJqc5LRsbXDBNwLR6NKbG2jJynMdiAmJceb5WM8vZ0oNUhlc-u9s61ltf5Tgw2smesG7J4EJJohtxu9_6-sCaCWlmRbF4CZlEvo-MtbKB0aRiksw41mgGfHWTs6rYTLztFj9EJUtHft9GxXElBwTQ0CkIhuXSjw&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=VJCh8vFWFkwxDYjRD5CX7g%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Azure Data Architect, company: Infosys, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3701323291/?eBP=CwEAAAGKpoe6ZjVkQWHLrHAc2O2bYewNsIt8GOlpLMJdApIXUU8NUz8jtMUS-I-3qx2RUIhaBGFu1lIKIjfd2Vj-270cIoadqqPw4dveoFmOqU7KxA7tN99JrK8sV6CQo6M4sxAAv2Y4OSal5KH6kiXKTIZn-w1gmJbQQRCZhMfRHPMo6Oq6lmBWQIZ7pHQT6sP6sXZrQP8bmVckFMLl3uvdjs3bfAjvkvmWsaX_csfy9UmkvaMfNOKXLVUfTtg1ysg04bw4hltvL24EQ0iHZArTK0aJCcE_qq_Q8v3zv9LPITEst3vt8zWST4W2ugItA98ndQLeRYs3h-wzJ6n7wdTzATpo6dRNpcrAIh_hJkLF8qIXwE6USA1AgFUmfeyL4LGerbiO9Q6JjA&refId=u%2FUpcNhp1y6ISYFP5JVimA%3D%3D&trackingId=rGkrKzooxv2OZ7vG82OHEw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Found 69 rows on the table from page 1
Title: Data Engineer, company: Tata Consultancy Services, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3680992175/?eBP=JOB_SEARCH_ORGANIC&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=vFI9n7iTwWE2p5TzQi7DeA%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: CKA Intern, company: DiDi, location: Lima, Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3713215632/?eBP=JOB_SEARCH_ORGANIC&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=4POefbulXVL2Lffqm99u0g%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer (Azure), company: NTT DATA Europe & Latam, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3696906755/?eBP=CwEAAAGKpofAqKRwKwxZuTkgFpfjWZh1sHjbz5B7fQmma2R4rMnrTNLXPBdWmBqQHUNjukdLTSFpedtkucdu0yt4DaALerLKc7iJ1WilaHPcnCl96bVRbwvXqLW3J_UKQgS8cyXOBJUSKgsAHedppdOArZk2UJSFmvlr6sWZ7uspwHfTjh0oajmhdCbHm2-JBhvkPMlOFFq1tZanOHG_6N7rdLSED7oziEsc4awu6SED2LHUxXPCrf8AbtTOb8i7jdwDw2gAhrsH23d0GZW--lwmTXs99Ztk5umLqvIPkZfHXd2gBbCHhd45oafpeAHzGteGkiTUnVe1so7uvKYdGggmb9-20GEI-3Vj4spVqG4rpxWWLDhZcJf3n6VGZlybvHie8xpCwWnuIXeT&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=tPfJdCKDEUejlj%2FTkjYS%2Bg%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Engineer - Online Job, company: Oowlish, location: Lima, Perú (En remoto),Link: https://www.linkedin.com/jobs/view/3673325134/?eBP=CwEAAAGKpofAqOAvRm6UhjlJd2tx7yDeHqR3DREwAGuV2nN-VK917rFkDTRUc35XSL5khCjJFAeRFUlrO6sfH_rBj4bcruxFvtQYVI1ALkaUZ8KLEnLMHVbqrtF1jHUgXGfSDWEYE2mJag_acJ2f9r8T9Ww5FFdKxdp_qjcOb9lt89Mq5D7YYXNpEJgsdeEZD-qvQxftkQup3cYaCpPqpSYN-MylYKtASLx59V8w8NEGH1yuolEfmw5GEp2mUB_qjMaFz5ZbLdPPB4uAuvtBHP-ByTnYK7YTyQjwUmxQh36s1UYeXrtdTJXZCfbpELKqrdi_IKxEX7FTrcBs2lKyxVBci469L-jXpiy7ume4fFp9g2TMKp2dP48QxB0U-r2Hp3vC1qAK&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=%2BkR0Yt1w8ChliJwwDBBiRw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Senior Data Engineer, company: Banco de Crédito BCP, location: Lima, Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3712310358/?eBP=CwEAAAGKpofAqDMsfimeSiS6yCO8ne1UNdneKJrVqWdDcRJeLsJ8dkmQIJMu2VQXpRiIi95ywkxyJNiKg7icWOG0t2RuQM6_RJuCf2tGBwfj82dLe9vmkQ1GUMyRKIRQvGt3FSDwMnD4sb874AGlidijYSRhB0cLy1Y-uRFf09UkVzZGV3M43Mm0NDZkP7Z54bwUX3h_Z_iUFBrdiBSQt1omb3wHb-jV-sVmy_VLWWb7Mu62oqOzru9ERK_Ff0WrVFDvZ1aj_fhapnniktCH1n_Jx2aA-sw_R_McMJq8wGmL0zCOkD4m7epsItPEfJRdKha-xPrYiqnd46AveOzztQDqOSccfjjPdgLFSOoJ4cZJXUmFKnKby2o7pRDvtM33ol76OgmE_C-CPmKq&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=6jdhfN%2FL8styd5tq7g7G4g%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data Governance Engineer, company: Interbank, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3720880307/?eBP=CwEAAAGKpofAqO0VJRaPraTIlbPMFGJVqE9UPDf63Mh37LXQGvbjw27zIVTU-CpX4v5fF3oKXWoCHbn4sm_PNUWm6PsBZyPB9oeCPKWCE_TUZuHLaN6IIsWAHuuB9yOJ4fBbGQKs_KaJ2tKRBE1lakkw0092xW-9AyohvrSFD48eznNJQo079KFWD-ByTQYhkdCVj2_D5OX_WYFx9jYq3eH-atQ6SvVTHEvc9d-2GIkfsp7BiXin4A9sjVvPTEMhWCf-aWQE-mpit956Nm5r--bv0czO5aOuLzlsyik3vWvUwmLh9wL1-OhvhWKO0L7ki-wgDKA5ASmaUr_2yX8mlpobmXWqzT4Dh-QT_pou-jzhjrt4xGs02UZIAQlxJaFRZCyD6gw0gZ5-jQ&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=S5LD2N5mROa4NZtfHLhWmw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: Data developer, company: Bluetab América, an IBM Company, location: Lima, Perú (Híbrido),Link: https://www.linkedin.com/jobs/view/3702495296/?eBP=CwEAAAGKpofAqOUMmjiv2V3H5lBddVqh4Jn3ADEyp8eXQ7xB0IqeFKRgcVht9q1m69Lj4_R7IWw8HlC4YowPhSwImIMcklgmfPwqWa0YFbkJXz9fz1kP9tbXVHyMozPgfkzHYwTUiFgywsa-roxrR5SDvf-5jXZPbZXPHJffislGNDflOYzU1oY0PcSJqyjreG_5Zu1cHOZxpquAJjY9fmzNZZVkmodVEq3GmBOq6OQIkm4lMnukTLbMZkZzvPCapbVXsaJhqvhb_cZ8BoMknK9NxQMYbJAD9_LPIz649FT58d9xVQQq7IRliItQeps_nXHkQwKxIDIwpcL13LaUhNYXrL2Nm5RBtPkM2mDWb4kkbvfzJT3ocu6UZHPHizkPt1SlW6MumV-vSw&refId=6TeOV3s92NtKZpTeMvrPdQ%3D%3D&trackingId=MdoM6QYz%2BhwF2ccTBWPGqw%3D%3D&trk=flagship3_search_srp_jobs
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None
Title: None, company: None, location: None,Link: None

In [2]:
final_df = pd.concat(datas, ignore_index=True)
final_df

,title,company,location,Link
0,Data Engineer,Indra,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3718921191/...
1,None,None,None,None
2,None,None,None,None
3,None,None,None,None
4,None,None,None,None
...,...,...,...,...
141,None,None,None,None
142,None,None,None,None
143,None,None,None,None
144,None,None,None,None
145,None,None,None,None

In [3]:
final_df=final_df.dropna(axis=0,how="all")

In [4]:
final_df

,title,company,location,Link
0,Data Engineer,Indra,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3718921191/...
7,Data Analyst / Engineer,WTW,"Lima, Lima, Perú",https://www.linkedin.com/jobs/view/3641511657/...
10,Data Engineer (Lima),Qualifacts,"Lima, Lima, Perú (Presencial)",https://www.linkedin.com/jobs/view/3715380996/...
14,Data Engineer (QlickView o QlickSense),NG Restaurants S.A.,"Miraflores, Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3718526539/...
18,Data Engineer (Python-Pyspark),Applaudo,"Lima, Perú (En remoto)",https://www.linkedin.com/jobs/view/3722062135/...
23,Data Engineer Azure,NTT DATA,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3696912557/...
32,Data Engineer,Tata Consultancy Services,Perú (En remoto),https://www.linkedin.com/jobs/view/3721889029/...
55,Eater Growth Analyst,DiDi,"Lima, Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3716018872/...
58,Analytics Engineer,Yape,"La Molina, Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3710342482/...
65,Data engineer,Launchpad Technologies Inc.,Perú (En remoto),https://www.linkedin.com/jobs/view/3696076717/...
68,Azure Data Architect,Infosys,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3701323291/...
77,Data Engineer,Tata Consultancy Services,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3680992175/...
86,CKA Intern,DiDi,"Lima, Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3713215632/...
89,Data Engineer (Azure),NTT DATA Europe & Latam,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3696906755/...
98,Data Engineer - Online Job,Oowlish,"Lima, Perú (En remoto)",https://www.linkedin.com/jobs/view/3673325134/...
103,Senior Data Engineer,Banco de Crédito BCP,"Lima, Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3712310358/...
110,Data Governance Engineer,Interbank,"Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3720880307/...
119,Data developer,"Bluetab América, an IBM Company","Lima, Perú (Híbrido)",https://www.linkedin.com/jobs/view/3702495296/...